* {
    font-family: lato;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    color: antiquewhite;
}

body {
    background-image: url(Images/blackjack.jpg);
}

button {
    width: 200px;
    border: none;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    background: #010f39;
    margin-top: 20px;
}

#start-game-btn,
#suffle-btn {
    color: #ffffff;
}

#start-game-btn:hover,
#suffle-btn:hover {
    cursor: pointer;
}
h1 {
    padding-top: 150px;
    color: #bebebe;
}

/* .interface {
    width: 100%;
    height: 350px;
    background-color: #061e46;
    border-radius: 20px;
} */

h3 {
    padding-top: 50px;
    font-style: italic;
}
