* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #f1faee;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
}

header #logo {
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    padding-top: 30px;
    color: #e63946;
    font-weight: bold;
    text-align: center;
    display: block;
}

/* menus */

header nav ul {
    display: block;
    margin: 0px auto;
    width: fit-content;
    padding-top: 5px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
}

header nav ul li a {
    padding: 0 6px;
    font-family: "Quicksand";
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

/* not showing only for mobile version */
#blog,
#home {
    padding: 0 6px;
    display: none;
}

/* MAIN */

main .index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(dark_laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
/* TITLE */
.index-banner h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #f3f3f3;
    line-height: 70px;
    text-shadow: 1px 1px 6px #e0c1db;
}
/* title-2 */
.index-banner p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #f3f3f3;
    text-shadow: 4px 4px 6px #000000;
    padding-top: 30px;
    margin: auto 80px;
    line-height: 22px;
}

/* title-3 */

.title-3 {
    font-family: sans-serif;
    color: #e63946;
    letter-spacing: 7px;
    padding-bottom: 40px;
    width: 280px;
    text-align: center;
    margin: 0 auto;
}

#world {
    color: #fff;
}

.typed-out {
    overflow: hidden;
    border-right: 0.15em solid orange;
    font-size: 1.6rem;
    width: 0;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes cursor {
    from {
        border-color: transparent;
    }
    to {
        border-color: orange;
    }
}

@keyframes title-large {
    from {
        padding-right: 1%;
    }
    to {
        padding-right: -1%;
    }
}

.typed-out {
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 1.5s 1.5s steps(20, end) forwards, cursor 1s .3s infinite;
}

/* 2nd-page-only-mobile-version */

.all-elements {
    margin: 18px;
}

.all-elements h3 {
    background-color: #03071e;
    height: 100px;
    margin: 10px 0;
    text-align: center;
    line-height: 100px;
    font-family: "Quicksand";
    font-size: 18px;
}

.all-elements a {
    color: #fff;
}

/* previews mobile version only */
.previews {
    margin-bottom: 70px;
}

.previews h3 {
    font-family: sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.previews p {
    font-family: sans-serif;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}
.bg-preview-img {
    background-image: url(anipng.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #03071e;
    overflow: hidden;
}

footer ul {
    padding: 60px;
    width: fit-content;
    float: left;
}

footer ul li {
    list-style: none;
    font-family: "Quicksand";
    font-weight: lighter;
}

footer ul li a {
    line-height: 40px;
    color: #fff;
}

/* social-media */

.social-media ul {
    float: right;
}

.social-media ul li {
    line-height: 0px;
    padding-right: 20px;
}

@media only screen and (min-width: 1000px) {
    /* HEADER DESKTOP */
    header #logo {
        float: left;
        padding: 0 40px 0 60px;
        margin-top: 31px;
        line-height: 38px;
        border-right: 3px solid #111;
    }

    #blog,
    #home {
        display: block;
        padding-top: 2px; /*why that 2px diff*/
    }

    header nav ul {
        float: right;
        padding: 0 60px;
        margin-top: 43px;
    }

    header nav ul li {
        float: left;
    }

    header nav ul li a {
        padding: 0 16px;
        color: #111;
    }
    header nav ul li a:hover {
        color: #e63946;
    }

    /* MAIN */

    main .index-banner {
        height: 550px;
    }

    .title h2 {
        font-family: sans-serif;
        width: 770px;
        margin: 0 auto;
    }
    .title-2 p {
        font-family: sans-serif;
        width: 850px;
        margin: 0 auto;
    }

    .index-banner h2 {
        font-size: 60px;
        line-height: 70px;
        text-shadow: 1px 1px 6px #e0c1db;
        border: 3px solid #e0c1db;
        backdrop-filter: blur(5px);
    }
    .index-banner h3 {
        backdrop-filter: blur(1px);
        border-radius: 30px;
    }
    /* all elements */
    .all-elements,
    .previews {
        width: 1000px;
        margin: 8px auto;
    }

    .all-elements a div {
        height: 250px;
        float: left;
        margin: 10px;
        background-color: #03071e;
    }
    .all-elements a div:hover {
        color: #e63946;
    }
    .all-elements .element-sq {
        width: calc(25% - 29px);
    }
    .all-elements .element-rec {
        width: calc(50% - 29px);
    }
    .all-elements h3 {
        line-height: 250px;
    }

    .all-elements a {
        color: #fff;
    }
    .all-elements a:hover {
        color: #a8dadc;
    }

    /* previews section */
    .previews h3 {
        margin-top: 700px;
        padding-bottom: 30px;
        font-family: sans-serif;
        font-size: 52px;
        text-transform: uppercase;
        text-align: center;
    }
    .previews p {
        font-family: sans-serif;
        text-align: center;
        margin-bottom: 100px;
        width: 100%;
    }

    .bg-preview-img {
        background-image: url(anipng.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        width: 1000px;
        object-fit: contain;
        margin: 0 auto;
    }

    /* FOOTER */

    footer {
        width: 100%;
    }
    footer a {
        padding: 10px 10px;
    }

    footer a:hover {
        color: #111;
    }
}
