* {
    font-family: lato;
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    align-items: center;
}

h2 {
    color: rgb(238, 238, 238);
}

button {
    width: 200px;
    border: none;
    height: 40px;
    background-color: darkred;
    color: antiquewhite;
    font-size: large;
    font-weight: 300;
    border-radius: 15px;
    margin: 3px 5px;
}

button {
    cursor: pointer;
}

#save-btn {
    background-color: darkgreen;
}
#btn:hover {
    background-color: brown;
    font-size: 20px;
}

#save-btn:hover {
    background-color: darkolivegreen;
    font-size: 20px;
}
