@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #f2f3f4;
}

.social-media-container{
    width: 35px;
    height: 152px;
    background-color: #b7b7b7;
    position: fixed;
    bottom: 35%;
}

.social-media-container ul li a:hover{
    display: block;
}

.social-media-container img{
    width: 35px;
}
.social-media-container img:hover{
    background-image: linear-gradient(#e63946, rgb(255, 145, 145));
}

.up-down-btn {
    height: 100px;
    width: 40px;
    position: absolute;
    z-index: 4;
    bottom: 43%;
    right: 0%;
    position: fixed;
}

#up-btn a{
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: larger;
    height: 50px;
    display: block;
    background-color: #111;
}

#down-btn a{
    text-align: center;
    line-height: 50px;
    color:#fff;
    font-size: larger;
    height: 50px;
    display: block;
    background-color: #e63946;
}

.main-menu #mylinks {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.main-menu #myLinks {
    display: block;
}

.main-menu a.icon {
    color: #07031e;
    font-size: 30px;
    /* background: orange; */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 10px 10px 10px;
    margin-top: 23px;
    margin-right: 10px;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
}

header #logo {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 100px;
    padding-top: 30px;
    text-align: left;
    display: block;
    padding-left: 30px;
}

#logo a {
    color: #e63946;
}

#login-btn {
    float: right;
    font-family: "Montserrat", sans-serif;
    height: 44px;
    width: 90px;
    border: none;
    color: #a8dadc;
    background-color: #03071e;
    display: none;
}

/* menus */

#section1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f2f3f4;
}

header nav ul {
    display: block;
    margin: 0px auto;
    width: fit-content;
    padding-top: 5px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
}

header nav ul li a {
    padding: 0 6px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #111;
}

/* not showing only for mobile version */
#blog,
#contacts {
    display: none;
}

html {
    scroll-behavior: smooth;
}

/* MAIN */

main .index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(./Images/dark_laptop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
/* TITLE */
.index-banner h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #f3f3f3;
    line-height: 70px;
    text-shadow: 1px 1px 6px #e0c1db;
}
/* title-2 */
.index-banner p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #f3f3f3;
    text-shadow: 4px 4px 6px #000000;
    padding-top: 30px;
    margin: auto 80px;
    line-height: 22px;
}

/* title-3 */

.title-3 {
    font-family: sans-serif;
    color: #07031e;
    letter-spacing: 7px;
    padding-bottom: 40px;
    width: 280px;
    text-align: center;
    margin: 0 auto;
}

/* 2nd-page-only-mobile-version */

.all-elements {
    margin: 18px;
}

.all-elements h1 {
    font-family: sans-serif;
    font-size: 40px;
    margin: 18px auto;
    margin-top: 30px;
    text-align: center;
}

.all-elements h3 {
    background-color: #03071e;
    height: 100px;
    margin: 10px 0;
    text-align: center;
    line-height: 100px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.all-elements a {
    color: #a8dadc;
}

/* previews mobile version only */

/* CREATION SECTION  */
.previews {
    height: 300px;
}

.previews h3 {
    /* creation */
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 36px;
    text-transform: uppercase;
}

.previews p {
    font-family: sans-serif;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}

.title-software {
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}

.search-box {
    display: none;
}

#myLinks ul {
    display: none;
}
/* CREATION SECTION END */

/* project-page */

.section-3 {
    height: 500px;
    width: 1000px;
    background-color: beige;
    margin: 0 auto;
    margin-top: 800px;
}
/* project-page-end */

.previews p a {
    color: #a8dadc;
}

.previews p a:hover {
    color: orange;
}

/* MY INFO */
.index-banner-2 {
    height: 100vh;
    width: 100%;
    background-image: url(./Images/dark_night.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.title-software {
    color: #fff;
}

/* .hyperlink-logo */
.hyperlink-logo {
    height: 15px;
}
/* MY INFO END */

#back-to-top {
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #03071e;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    margin-top: 35px;
}

#back-to-top a {
    display: block;
    color: #fff;
}

/* FOOTER */

footer {
    background-color: #187498;
    overflow: hidden;
}

footer ul {
    padding: 50px 0 50px 50px;
    float: left;
}

footer ul li {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

footer ul li a {
    line-height: 35px;
    color: #fff;
}

/* social-media */

.social-media ul {
    padding: 50px 50px 50px 0;
    float: right;
}
.social-media ul li {
    float: left;
}

.social-media img {
    width: 40px;
}

/* footer-end */

/* TABLET VERSION */
@media screen and (min-width: 600px) {
    .previews p {
        width: 500px;
    }
}
/* TABLET VERSION END */

/* DESKTOP VERSION */

@media only screen and (min-width: 1200px) {
    /* HEADER DESKTOP */
    header #logo {
        float: left;
        padding: 0 40px 0 60px;
        margin-top: 31px;
        line-height: 38px;
        border-right: 3px solid #111;
    }

    .social-media-container img{
        width: 40px;
    }
    .social-media-container{
        width: 40px;
        height: 172px;  
    }
    

    #myLinks ul {
        display: block;
    }

    #blog,
    #contacts {
        display: block;
    }

    .search-box {
        height: 50px;
        width: 400px;
        margin: auto;
        margin-top: 200px;
        display: flex;
        box-shadow: 2px 2px 25px #111;
    }

    .container-btn button {
        font-family: "Poppins", sans-serif;
        border: none;
        color: #a8dadc;
        background-color: #111;
        width: 140px;
        height: 50px;
    }

    .container-btn button:hover {
        transition: 0.2s;
        cursor: pointer;
        color: orange;
    }

    .search-input {
        transition: ease-in 0.2s;
        padding: 16px;
        background-color: #a8dadc;
        width: 280px;
        height: 50px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        border: 1px solid #e0c1db;
    }

    #login-btn {
        float: right;
        font-family: "Poppins", sans-serif;
        height: 44px;
        width: 90px;
        border: none;
        color: #a8dadc;
        background-color: #03071e;
        box-shadow: 2px 2px #e63946;
    }

    .login-container {
        padding: 0 60px;
        float: right;
        margin-top: 31px;
        line-height: 38px;
        border-left: 3px solid #111;
    }

    #login-btn:hover {
        cursor: pointer;
        color: orange;
        transition: 0.2s;
        box-shadow: 2px 2px 5px #a8dadc;
    }

    header nav ul {
        float: left;
        padding: 0 60px 0 40px;
    }

    header nav ul li {
        float: right;
    }

    header nav ul li a {
        display: block;
        padding: 0 14px;
        color: #111;
        line-height: 100px;
    }
    header nav ul li a:hover {
        color: orange;
        transition: 0.2s;
    }

    /* MAIN */

    main .index-banner {
        height: 550px;
    }

    .title h2 {
        font-family: sans-serif;
        width: 800px;
        margin: 0 auto;
    }
    .I-am {
        max-width: 800px;
    }
    .software {
        float: left;
    }
    .title-2 p {
        font-family: sans-serif;
        width: 850px;
        margin: 0 auto;
    }

    .border-title {
        width: 800px;
        height: 140px;
        margin: 0 auto;
        border: 3px solid #a8dadc;
        backdrop-filter: blur(5px);
    }

    .index-banner h2 {
        font-size: 54px;
        line-height: 70px;
        text-shadow: 1px 1px 5px grey;
    }
    .index-banner h3 {
        backdrop-filter: blur(1px);
        border-radius: 30px;
    }

    /* all elements */
    .all-elements,
    .previews {
        width: 1000px;
        margin: 16px auto;
        margin-top: 100px;
        margin-bottom: 600px;
    }

    .all-elements a div {
        height: 250px;
        float: left;
        margin: 10px;
        background-color: #03071e;
    }
    .all-elements a div:hover {
        color: orange;
        transition: 0.3s;
    }
    .all-elements .element-sq {
        width: calc(25% - 29px);
    }
    .all-elements .element-rec {
        width: calc(50% - 29px);
    }
    .all-elements h3 {
        line-height: 250px;
    }

    .all-elements a {
        color: #a8dadc;
    }
    .all-elements a:hover {
        color: orange;
        transition: 0.2s;
    }

    /* hello-world */
    .hello-world {
        width: 1000px;
        margin: 0 auto;
        margin-top: 700px;
    }

    /* my-info */

    main .index-banner-2 {
        margin-top: 100px;
        width: 100%;
        height: 100vh;
        background-image: url(./Images/world_view.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: table;
    }
    .my-info-blury-container {
        text-align: center;
        border: 2px solid #a8dadc;
        height: 210px;
        max-width: 1200px;
        margin: 0 auto;
        backdrop-filter: blur(5px);
    }

    .vertical-center {
        display: table-cell;
        vertical-align: middle;
    }

    /* title-software */
    .title-software {
        height: 200px;
        font-family: sans-serif;
        color: #a8dadc;
        font-size: 58px;
    }

    /* previews section */
    .previews {
        margin: 0 auto;
        height: 400px;
    }
    .previews h3 {
        padding-bottom: 30px;
        font-family: sans-serif;
        font-size: 52px;
        text-transform: uppercase;
        text-align: center;
    }
    .previews p {
        font-family: sans-serif;
        text-align: center;
        width: 100%;
    }

    #back-to-top {
        width: 180px;
        height: 45px;
        line-height: 45px;
        margin-top: 50px;
    }

    #back-to-top a {
        font-size: 18px;
    }

    #back-to-top a:hover {
        color: orange;
        transition: 0.2s;
    }
    /* previews section end */

    /* FOOTER */

    footer {
        width: 100%;
    }
    footer a {
        padding: 10px 10px;
    }

    footer a:hover {
        color: orange;
        transition: 0.3s;
    }
}
/* DESKTOP VERSION END */
