@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@200;300;400;700;900&family=Nunito:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-image: url(../Images/stay-connected-blue.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.page4{
    margin-top: 100px;
}

.info-section {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: rgba(233, 235, 237);
    box-shadow: 5px 5px 24px#2c2c2c;
    line-height: 50px;
}

.info-container {
    padding: 20px;
}

.info-container h2 {
    color: #2c2c2c;
    font-family: "montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    padding-bottom: 10px;
}

.info-container h4,
h6 {
    color: #6f6f6f;
    font-family: "montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.info-section h2 {
    font-size: 24px;
}

.info-section h4 {
    font-size: 28px;
}

.info-section h6 {
    margin-top: 50px;
    font-size: 18px;
    color: #a4a3a3;

}

.content {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 15px 0;
}

.content h3{
    font-family: sans-serif;
    font-size: 34px;
    color:#696969;
}

.image-container {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 180px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.content-container {
    background-color: rgba(254, 245, 233, 0.973);
    width: 93%;
    border-radius: 4px;
    margin: auto;
    padding: 15px;
}

.content-container p {
    font-family: "nunito", arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-spacing: 0.5rem;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: #6f6f6f;
    position: relative;
}


.later-pages {
    margin-top: 50px;
}

.no-box {
    height: 80px;
    width: 80px;
    background-color: #696969;
    margin: -50px 0 15px 15px;
}

.no-box h2 {
    font-size: 42px;
    text-align: center;
    line-height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

footer{
    padding: 20px;
}

.footer-container {
    width: 100%;
}

.footer-container ul {
    padding: 20px;
}

.footer-container ul li {
    list-style: none;
    line-height: 40px;
}

.footer-container ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.footer-container ul li a:hover {
    color: #91b6de;
}

.footer-banner {
    width: 100%;
    height: 40px;
}

.footer-start-banner {
    background-color: #b9cad6;
}

.copyright-notice p {
    padding-top: 30px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------CARD-CONTAINER------------------------ */
.card-list-container {
    margin: 20px;

}

.card-box {
    height: 343px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 10px #111;
    margin-top: 80px;
}

.card-box .card-box-img {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.card-box .card-box-img h2 {
    position: absolute;
    z-index: 1;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    color: #d8d7d7;
    padding: 20px;
    text-shadow: 2px 2px black;
}

.card-box img {
    width: 120%;
    overflow: hidden;
    transform: scale(1);
    transition: 1s ease-in;
}

.card-box img:hover {
    transform: scale(1.1);
    transition: 1s ease-out;
}

.card-box .card-box-details {
    padding: 15px;
}

.card-box-details {
    background-color: rgba(4, 0, 0, 0.5);
    height: 100%;
}

.card-box-details p {
    color: #fff;
    font-family: Helvetica, sans-serif;
}

@media screen and (min-width: 700px) {
    .wrapper {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 0  ;
    }


    .card-box {
        margin: auto;
        height: 300px;
        width: 90%;
        margin-top: 60px;

    }

    .card-box .card-box-img {
        width: 55%;
        height: 300px;
        overflow: hidden;
    }


    .card-box .card-box-details {
        padding: 15px;
    }

    .card-box-details {
        float: right;
        background-color: rgba(4, 0, 0, 0.5);
        height: 100%;
        width: 45%;
        margin-top: -300px;
    }

    .card-box-details p {
        color: #fff;
        font-family: Helvetica, sans-serif;
    }

    .info-section {
        height: calc(100vh);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/* ========================DESKTOP-VERSION======================== */
@media screen and (min-width: 1000px) {

    .wrapper {
        display: block;
        margin: 0 auto;
        width: 60%;
        padding: 0  ;
    }

    .card-box {
        margin: auto;
        height: 300px;
        width: 90%;
        margin-top: 60px;

    }

    .card-box .card-box-img {
        width: 55%;
        height: 300px;
        overflow: hidden;
    }


    .card-box .card-box-details {
        padding: 15px;
    }

    .card-box-details {
        float: right;
        background-color: rgba(4, 0, 0, 0.5);
        height: 100%;
        width: 45%;
        margin-top: -300px;
    }

    .card-box-details p {
        color: #fff;
        font-family: Helvetica, sans-serif;
    }

    .info-section {
        height: calc(100vh);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-section h2 {
        font-size: 54px;
    }

    .info-section h4 {
        font-size: 34px;
    }

    .info-section h6 {
        font-size: 20px;
    }

    .content-container {
        padding: 50px;
    }

    .content-container p {
        line-height: 1.8rem;
        font-size: 1.3rem;
    }

    .image-container {
        margin-bottom: 50px;
    }

    .no-box {
        height: 100px;
        width: 100px;
    }

    .no-box h2 {
        line-height: 100px;
        margin: -100px 0 0 0;
    }

    .content {
        margin-top: 60px;
    }

    .later-pages {
        margin-top: 80px;
    }

    .footer-container ul li a {
        font-size: 16px;
    }

    footer{
        padding: 40px;
    }

}