*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #8f8989e8;
}

.main-content{
    width: 100%;
    height: calc(100vh - 80px);
}

.main-border{
    border: 40px solid rgb(250, 171, 0);
}

.box{
    border: 20px solid rgb(63, 104, 17);
    height: 400px;
    width: 400px;
    background-color: red;
}