* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

body {
    background-image: url(../Images/poker-cards.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.interface{
    margin: auto;
    display: table;
    height: 100vh;
}
.vertical-align{
    display: table-cell;
    vertical-align: middle;
}

button {
    width: 200px;
    border: none;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    background: #2c4181;
    margin-top: 20px;
    transition: ease-in 0.2s;
}

#back-to-game a {
    color: antiquewhite;
}

#startGameBtn,
#get-card-btn {
    margin: 5px auto;
    color: #ffffff;
}

#startGameBtn:hover,
#get-card-btn:hover,
#back-to-game:hover {
    cursor: pointer;
    background-color: rgb(239, 160, 40);
    box-shadow: inset 220px 0 0 0 green;
}

#get-card-btn:hover {
    background-color: aquamarine;
    box-shadow: inset 220px 0 0 0 rgb(161, 79, 244);
}

#quit-btn a{
    display: block;
    color: red;
}

/* Game heading */
h1 {
    padding-top: 150px;
    color: #ce3ef6;
    text-shadow: 3px 3px 12px #111111;
}

/*Game main info */
h3 {
    padding-top: 50px;
    font-style: italic;
}
h3,
p {
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
    text-align: center;
    position: relative;
}

#sum-el{
    color: green;
}

#cards-el{
    color: pink;
}
/* Game rule page */

.game-rule-manual {
    background-image: url(../Images/dice-glowing-lights.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%;
}

#game-rule a {
    color: aqua;
}

#game-rule a:hover {
    color: red;
}
.game-rule-manual {
    font-size: larger;
    padding: 300px 0;
}

/* input-box */

input {
    color: #000;
}

#name1 {
    color: white;
}
