* {
    font-family: lato;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

body {
    background-image: url(../Images/retro_car.jpg);
    
}

button {
    width: 200px;
    border: none;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
    background: #010f39;
    margin-top: 20px;
    transition: ease-in 0.2s;
}

#back-to-game a {
    color: antiquewhite;
}

#start-game-btn,
#suffle-btn {
    color: #ffffff;
}

#start-game-btn:hover,
#suffle-btn:hover,
#back-to-game:hover {
    cursor: pointer;
    background-color: rgb(239, 160, 40);
    box-shadow: inset 220px 0 0 0 green;
}

#suffle-btn:hover {
    background-color: aquamarine;
    box-shadow: inset 220px 0 0 0 rgb(161, 79, 244);
}

/* Game heading */
h1 {
    padding-top: 150px;
    color: #dbdbdb;
}

/*Game main info */
h3 {
    padding-top: 50px;
    font-style: italic;
}
h3,
p {
    color: antiquewhite;
}

.score {
    color: antiquewhite;
    text-align: center;
    position: relative;
}
/* Game rule page */

.game-rule-manual {
    background-image: url(../Images/blackjack.jpg);
}

#game-rule {
    color: aqua;
}

#game-rule:hover {
    color: red;
}
.game-rule-manual {
    font-size: larger;
    padding: 300px 0;
}

/* input-box */

input {
    color: #000;
}

#name1 {
    color: white;
}
